@charset "utf-8";
html  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body * {
    font-family: 'twayair';
}

body.modal-open {
    overflow: visible;
    position: absolute;
    width: 100%;
    height:100%;
}

.space75 {
    height: 75px;
}

.logo-wrap {
    height: 75px;
}

.logo-wrap .logo {
    height: 100%;
    object-fit: cover;
}

#gnbTable div ul li a, #gnbTable div span {
    color: white;
    /* font-weight: 900; */
}

#video-wrap .blind {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 17;
    top: 0;
    background-color: rgba( 0, 0, 0, 0.3);
    z-index: 1;

}
#video-wrap .backVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.main-top .brandSentence {
    display: inline-block;
    position: relative;
    left: 10vw;
    top: -35vh;
    z-index: 5;

}

.main-top .link01 {
    display: inline-block;
    /* Position */
    position: absolute;
    left: 10vw;
    bottom: -15vh;
    width: 200px;
    height: 200px;
    background-color: black;
    z-index: 5;
}

.main-top .link01 a {
    display: block;
    width:100%; 
    height:100%;
    padding:28px;
    color: white;
    z-index: 5;
}

.board-fluid > div {
    color: white;
}

.back a {
    display: block;
    width:100%; 
    height:100%;
    padding:28px;
    color: white;
    z-index: 5;
}

#skills div {
    height: 100px;
}

#skills div img {
    height: 100%;
}

.project-wrap img {
    width: 100%;
    height: 100%;
}

.project-wrap a:hover img {
    filter: brightness(70%);
}

.main-bottom .progress-wrap {
    height: 200px;
}

.main-bottom .link02 {
    display: inline-block;
    /* Position */
    position: fixed;
    right: 5vw;
    bottom: 10vh;
    width: 150px;
    height: 150px;
    background-color: black;
    display: none;
}

.main-bottom .link02 a {
    display: block;
    width:100%; 
    height:100%;
    padding:28px;
    color: white;
}

.progress {
    height: 20px;
      border-radius:20px;
  
  }
  
  .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
  }

  span {
    display:block;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    color: #888888;
    line-height: 17px;
    margin-bottom:5px;
  }

  .progress-bar {
    text-align: left;
    border-radius: 5px;
    transition-duration: 2s;
    background-color: #9E99BF;
  }

  .board3 {
    animation: animate__fadeOutUp;
    animation-duration: 1s;
  }

.resumePointer {
    font-size: 30px;

    position: relative; 
    /* 파폭 */
    -moz-animation: bounce 0.5s infinite linear; 
    /* 크롬 */ 
    -webkit-animation: bounce 1s infinite linear; 
    -o-animation: bounce 0.5s infinite linear; 
    animation: bounce 0.5s infinite linear;
}

@-webkit-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -5px;
    }

    70% {
        top: -5px;
    }

    100% {
        top: 0;
    }
}

@-moz-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -5px;
    }

    70% {
        top: -5px;
    }

    100% {
        top: 0;
    }
}

@-o-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -5px;
    }

    70% {
        top: -5px;
    }

    100% {
        top: 0;
    }
}

@-ms-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -5px;
    }

    70% {
        top: -5px;
    }

    100% {
        top: 0;
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -5px;
    }

    70% {
        top: -5px;
    }

    100% {
        top: 0;
    }
}

.photo:hover > img{
    transition: filter 0.5s;
    filter: brightness(80%);
}

#projectCarousel img {
    height: 500px;
}
